/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }
  #menu {
    display: block;
  }
  header.toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
  section {
    padding: 1rem 3rem;
  }
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 650px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about .row .counter .box {
    width: 100%;
  }
  .skill-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .skill-container .img-box {
    width: 100%;
  }
  .projects .box-container .box {
    width: 100%;
  }
  .contact .row form {
    margin: 3rem 0;
  }
}
